
<script>
function join(arr /*, separator */) {
  var separator = arguments.length > 1 ? arguments[1] : ", ";
  return arr.filter(function(n){return n}).join(separator);
}

function formatCity(suggestion) {
  var address = suggestion.data;
  if (address.city_with_type === address.region_with_type) {
      return address.settlement_with_type || "";
    } else {
      return join([
        address.city_with_type,
        address.settlement_with_type]);
    }
}

var
token = "5ef98f5781a106962077fb18109095f9f11ebac1 ",
    type  = "ADDRESS",
    $region = $("#region"),
    $city   = $("#city"),
    $street = $("#street"),
    $house  = $("#house");

// регион и район
$region.suggestions({
  token: token,
  type: type,
  hint: false,
  bounds: "region-area"
});

// город и населенный пункт
$city.suggestions({
  token: token,
  type: type,
  hint: false,
  bounds: "city-settlement",
  constraints: $region,
  formatSelected: formatCity
});

// улица
$street.suggestions({
  token: token,
  type: type,
  hint: false,
  bounds: "street",
  constraints: $city,
  count: 15
});

// дом
$house.suggestions({
  token: token,
  type: type,
  hint: false,
  noSuggestionsHint: false,
  bounds: "house",
  constraints: $street
});


console.log($house.suggestions())
</script>

<section class="container">
  <h1>Гранулярные подсказки по адресу (регион, город, улица, дом)</h1>
  <label for="region">Регион / район:</label><input id="region" name="region" type="text" />
  <br/><br/>
  <label for="city">Город / населенный пункт:</label><input id="city" name="city" type="text" />
  <br/><br/>
  <label for="street">Улица:</label><input id="street" name="street" type="text" />
  <br/><br/>
  <label for="house">Дом:</label><input id="house" name="house" type="text" />
  <br/><br/>
</section>
