body {
	margin: 0;
	padding: 0;
}

table {
	height: 480px;
	width: 320px;
	color: #ffffff;
	text-align: left;
}

td{
  vertical-align: top;
}

#TrialUp {
	color: #ffa000;
}

#TrialDown {
	color: #ffa000;
}

#TabDown {
	background-image: url(bannerDown_320x480.png);
	font-size: 8px;
}

#TabUp {
	background-image: url(bannerUp_320x480.png);
	position: absolute;
	left: 0;
	top: 0;	
}

#UpStrUp {
	height: 210px;
}

.FirstColUp {
	width: 200px;
}

#UpStrDown {
	height: 185px;
}

.FirstColDown {
	width: 35px;
}

@media (min-height: 568px) {
	table {
		height: 568px;
		width: 320px;
		}
	#TabDown {
		background-image: url(bannerDown_320x568.png);
		font-size: 10px;
		}
	#TabUp {
		background-image: url(bannerUp_320x568.png);
		}
	#UpStrDown {
		height: 220px;
		}
}

@media (min-height: 667px) {
	table {
		height: 667px;
		width: 375px;
		}
	#TabDown {
		background-image: url(bannerDown_375x667.png);
		font-size: 11px;
		}
	#TabUp {
		background-image: url(bannerUp_375x667.png);
		}
	#UpStrDown {
		height: 260px;
		}
	.FirstColDown {
		width: 40px;
		}
}

@media (min-height: 736px) {
	table {
		height: 736px;
		width: 414px;
		}
	#TabDown {
		background-image: url(bannerDown_414x736.png);
		font-size: 12px;
		}
	#TabUp {
		background-image: url(bannerUp_414x736.png);
		}
	#UpStrDown {
		height: 290px;
		}
	.FirstColDown {
		width: 45px;
		}
}
