   table {
    border: 3px solid grey;
    margin: auto; /* Выравниваем таблицу по центру окна  */
	width: 100%;
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
	vertical-align:top;
	padding: 0;
   }
   
   textarea {
	   margin: auto;
	   width: 90%;
   }
   
   #GroupBox {
	   width: 70%;
   }
   
    div {
    text-align: center; /* Выравниваем текст по центру ячейки */
	vertical-align:top;
   }
   
   select {
	   min-width: 50%;
   }